model_name: "gpt2"
dataset: "imdb"

seed: 42
dpi: 400
max_token_length: 128
train_size: 3000
val_size: 500
lr: 0.00002
warmup_ratio: 0.1
epochs: 3
train_batch_size: 4
eval_batch_size: 4
strategy: "epoch"

fig_path: "../outputs/"
res_path: "../results/"